@model SimpleAuthentication.Models.DashboardVM

<div>
    @*<h1>Welcome @Model.User.FullName</h1>
    <h4>Your Id is: @Model.User.Id</h4>*@

    <a asp-controller="Auth" asp-action="Logout"> <button>Logout</button></a>
</div>